# Задача №1.1

In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import statsmodels.api as sm
from statsmodels.iolib.summary2 import summary_params # вывод результатов тестирования
from scipy.stats import t # t-распределение

In [2]:
# Загрузим данные
df_sleep = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
mod1 = smf.ols(formula='sleep~totwrk+age+south+male+smsa+yngkid+marr+union', 
                       data=df_sleep).fit()
# коэффициенты
mod1.params.round(3)

Intercept    3446.830
totwrk         -0.169
age             2.714
south         102.272
male           87.108
smsa          -54.188
yngkid        -13.051
marr           31.360
union          11.866
dtype: float64

In [4]:
# t-статистики
mod1.tvalues.round(3)

Intercept    42.117
totwrk       -9.358
age           1.844
south         2.439
male          2.477
smsa         -1.632
yngkid       -0.259
marr          0.742
union         0.311
dtype: float64

# Задача №1.2

In [5]:
# Загрузим данные
df_sleep = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
mod1 = smf.ols(formula='sleep~totwrk+age+south+male+smsa+yngkid+marr+union+np.log(hrwage)', 
                       data=df_sleep).fit()
# коэффициенты
mod1.params.round(3)

Intercept         3431.804
totwrk              -0.158
age                  2.437
south               78.046
male                36.485
smsa               -34.965
yngkid              50.136
marr                54.072
union               27.019
np.log(hrwage)      -2.727
dtype: float64

In [6]:
# Число наблюдений в модели, число регрессоров и степени свободы для t_cr
mod1.nobs, mod1.df_model, mod1.df_resid

(532.0, 9.0, 522.0)

In [8]:
# 10%-критическое значение t-распределения
t.ppf(q=1-0.1/2, df=mod1.df_resid).round(3)

1.648

In [9]:
summary_params(mod1) #.round(3)

,Coef.,Std.Err.,t,P>|t|,[0.025,0.975]
Intercept,3431.803558,96.309432,35.633099,6.698446e-142,3242.601854,3621.005262
totwrk,-0.158079,0.020867,-7.575548,1.638747e-13,-0.199073,-0.117086
age,2.437082,1.671818,1.457744,1.455125e-01,-0.847236,5.721400
south,78.046123,45.287154,1.723361,8.541540e-02,-10.921349,167.013595
male,36.485386,43.350193,0.841643,4.003732e-01,-48.676889,121.647661
smsa,-34.964643,38.231919,-0.914541,3.608551e-01,-110.071972,40.142686
yngkid,50.136466,54.789835,0.915069,3.605780e-01,-57.499204,157.772136
marr,54.071604,46.920123,1.152418,2.496767e-01,-38.103866,146.247073
union,27.018684,43.044039,0.627699,5.304759e-01,-57.542145,111.579514
np.log(hrwage),-2.726776,32.202444,-0.084676,9.325514e-01,-65.989087,60.535535

Сравниваем t и t_cr

#### Значимы: totwrk, south

# Задача №1.3

In [10]:
# Загрузим данные
df_wage = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/wage2.csv')
mod1 = smf.ols(formula='np.log(wage)~age+IQ+married+south+urban', 
                       data=df_wage).fit()
# коэффициенты
mod1.params.round(3)

Intercept    4.974
age          0.021
IQ           0.008
married      0.201
south       -0.099
urban        0.175
dtype: float64

In [13]:
# t-статистики
mod1.tvalues.round(3)

Intercept    30.064
age           5.303
IQ            9.751
married       4.993
south        -3.690
urban         6.331
dtype: float64

# Задача №1.4

In [14]:
# Число наблюдений в модели, число регрессоров и степени свободы для t_cr
mod1.nobs, mod1.df_model, mod1.df_resid

(935.0, 5.0, 929.0)

In [16]:
# 1%-критическое значение t-распределения
t.ppf(q=1-0.01/2, df=mod1.df_resid).round(3)

2.581

In [17]:
summary_params(mod1) #.round(3)

              Coef.  Std.Err.          t          P>|t|    [0.025    0.975]
Intercept  4.974000  0.165445  30.064448  3.085870e-139  4.649312  5.298689
age        0.021253  0.004008   5.303079   1.423588e-07  0.013388  0.029118
IQ         0.008201  0.000841   9.750788   1.875548e-21  0.006551  0.009852
married    0.200980  0.040249   4.993462   7.081956e-07  0.121991  0.279969
south     -0.098978  0.026825  -3.689744   2.375286e-04 -0.151623 -0.046333
urban      0.174981  0.027637   6.331339   3.778537e-10  0.120742  0.229219

Все коэффициенты значимы

In [ ]:
https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/wage1.csv

# Задача №1.6

In [18]:
# Загрузим данные
df_wage = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/wage1.csv')
mod1 = smf.ols(formula='np.log(wage)~exper+I(exper**2)+female+married+smsa', 
                       data=df_wage).fit()
# коэффициенты
mod1.params.round(3)

Intercept        1.250
exper            0.037
I(exper ** 2)   -0.001
female          -0.363
married          0.144
smsa             0.273
dtype: float64

In [19]:
# Число наблюдений в модели, число регрессоров и степени свободы для t_cr
mod1.nobs, mod1.df_model, mod1.df_resid

(526.0, 5.0, 520.0)

In [20]:
# 5%-критическое значение t-распределения
t.ppf(q=1-0.05/2, df=mod1.df_resid).round(3)

1.965

In [21]:
summary_params(mod1) #.round(3)

                  Coef.  Std.Err.          t         P>|t|    [0.025    0.975]
Intercept      1.250423  0.061410  20.361986  3.281629e-68  1.129781  1.371064
exper          0.036880  0.005696   6.474140  2.209117e-10  0.025689  0.048071
I(exper ** 2) -0.000772  0.000122  -6.327952  5.366468e-10 -0.001011 -0.000532
female        -0.362740  0.039744  -9.126902  1.551558e-18 -0.440818 -0.284661
married        0.143784  0.045491   3.160688  1.665675e-03  0.054415  0.233154
smsa           0.272562  0.044116   6.178354  1.308368e-09  0.185895  0.359229

Все коэффициенты значимы

# Задача №1.5

In [23]:
# t-статистики
mod1.tvalues.round(3)

Intercept        20.362
exper             6.474
I(exper ** 2)    -6.328
female           -9.127
married           3.161
smsa              6.178
dtype: float64

# Задача №1.7

In [ ]:
https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Electricity.csv

In [24]:
# Загрузим данные
df_electricity = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Electricity.csv')
mod1 = smf.ols(formula='np.log(cost)~np.log(q)+np.log(pl)+np.log(pk)+np.log(pf)', 
                       data=df_electricity).fit()
# коэффициенты
mod1.params.round(3)

Intercept    -7.472
np.log(q)     0.838
np.log(pl)    0.044
np.log(pk)    0.188
np.log(pf)    0.713
dtype: float64

In [26]:
# t-статистики
mod1.tvalues.round(3)

Intercept     -7.028
np.log(q)     89.284
np.log(pl)     0.418
np.log(pk)     2.164
np.log(pf)    11.081
dtype: float64

# Задача №1.8

In [27]:
# Число наблюдений в модели, число регрессоров и степени свободы для t_cr
mod1.nobs, mod1.df_model, mod1.df_resid

(158.0, 4.0, 153.0)

In [28]:
# 1%-критическое значение t-распределения
t.ppf(q=1-0.01/2, df=mod1.df_resid)

2.608344423122931

In [29]:
summary_params(mod1) #.round(3)

               Coef.  Std.Err.          t          P>|t|    [0.025    0.975]
Intercept  -7.472227  1.063238  -7.027801   6.490901e-11 -9.572750 -5.371704
np.log(q)   0.838111  0.009387  89.284492  6.942379e-134  0.819566  0.856656
np.log(pl)  0.044258  0.105820   0.418238   6.763595e-01 -0.164798  0.253314
np.log(pk)  0.188449  0.087066   2.164432   3.198211e-02  0.016442  0.360457
np.log(pf)  0.713098  0.064355  11.080610   2.552882e-21  0.585958  0.840238

Значимы коэффициенты: Intercept, log(q), log(pf)

# Задача №2.1

In [ ]:
https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Labour.csv

In [30]:
# Загрузим данные
df_labour = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Labour.csv')
mod1 = smf.ols(formula='np.log(output)~np.log(capital)+np.log(labour)', 
                       data=df_labour).fit()
# коэффициенты
mod1.params.round(3)

Intercept         -1.711
np.log(capital)    0.208
np.log(labour)     0.715
dtype: float64

In [36]:
mod1.t_test('np.log(capital)=0.5')

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0             0.2076      0.017    -17.014      0.000       0.174       0.241
==============================================================================

In [37]:
# 1%-критическое значение t-распределения
t.ppf(q=1-0.01/2, df=mod1.df_resid).round(2)

2.58

Так как t>t_cr, значимо

# Задача №2.2

In [38]:
mod1.t_test('np.log(labour)=0.7')

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0             0.7148      0.023      0.642      0.521       0.669       0.760
==============================================================================

In [39]:
# 10%-критическое значение t-распределения
t.ppf(q=1-0.1/2, df=mod1.df_resid).round(2)

1.65

Так как t<t_cr, незначимо

# Задача №2.3

In [40]:
# Загрузим данные
df_electricity = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Electricity.csv')
mod1 = smf.ols(formula='np.log(cost)~np.log(q)+np.log(pl)+np.log(pk)+np.log(pf)', 
                       data=df_electricity).fit()
# коэффициенты
mod1.params.round(3)

Intercept    -7.472
np.log(q)     0.838
np.log(pl)    0.044
np.log(pk)    0.188
np.log(pf)    0.713
dtype: float64

In [41]:
mod1.t_test('np.log(q)=1')

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0             0.8381      0.009    -17.246      0.000       0.820       0.857
==============================================================================

In [44]:
# 5%-критическое значение t-распределения
t.ppf(q=1-0.05/2, df=mod1.df_resid).round(2)

1.98

Так как t>t_cr, значимо

# Задача №2.4

In [46]:
mod1.t_test('np.log(pf)=1')

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0             0.7131      0.064     -4.458      0.000       0.586       0.840
==============================================================================

In [47]:
# 10%-критическое значение t-распределения
t.ppf(q=1-0.1/2, df=mod1.df_resid).round(2)

1.65

Так как t>t_cr, значимо

# Задача №2.5

In [49]:
# Загрузим данные
df_sleep = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
mod1 = smf.ols(formula='sleep~totwrk+age+south+male+smsa+yngkid+marr+union', 
                       data=df_sleep).fit()
# коэффициенты
mod1.params.round(3)

Intercept    3446.830
totwrk         -0.169
age             2.714
south         102.272
male           87.108
smsa          -54.188
yngkid        -13.051
marr           31.360
union          11.866
dtype: float64

In [50]:
mod1.t_test('male=1')

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0            87.1081     35.173      2.448      0.015      18.050     156.166
==============================================================================

In [51]:
# 1%-критическое значение t-распределения
t.ppf(q=1-0.01/2, df=mod1.df_resid).round(2)

2.58

Так как t<t_cr, незначимо

# Задача №2.6

In [52]:
mod1.t_test('south=100')

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0           102.2718     41.925      0.054      0.957      19.957     184.586
==============================================================================

In [53]:
# 1%-критическое значение t-распределения
t.ppf(q=1-0.01/2, df=mod1.df_resid).round(2)

2.58

Так как t<t_cr, незначимо