In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [3]:
df = pd.read_csv('Labour.csv')
df.head()

     capital  labour     output       wage
0   2.606563     184   9.250759  43.080307
1   1.323237      91   3.664310  27.780016
2  22.093692     426  28.781516  44.467748
3  10.737851      72   4.124642  39.734710
4   1.161365      46   2.890150  34.650709

# 1.1.2 Задача
Для набора данных Labour рассмотрим регрессию log(output) на log(capital) и log(labour) Ниже приведены коэффициенты подогнанной модели
1) Для каждого наблюдения вычислите предсказанное значение и остатки. Ответ округлите до 2-х десятичных знаков.

In [11]:
sleep_eq = smf.ols(formula='np.log(output)~np.log(capital)+np.log(labour)', data=df).fit()
sleep_eq.params.round(2)

Intercept         -1.71
np.log(capital)    0.21
np.log(labour)     0.71
dtype: float64

In [17]:
# Предсказанное
sleep_eq.fittedvalues.iloc[:5]

0    2.215280
1    1.571250
2    3.259028
3    1.838427
4    1.056484
dtype: float64

In [18]:
# Остатки
sleep_eq.resid.iloc[:5]

0    0.009426
1   -0.272610
2    0.100706
3   -0.421448
4    0.004824
dtype: float64

In [19]:
ind = np.array([1,2,3,4,5])-1

In [20]:
# Предсказанные
sleep_eq.fittedvalues[ind]

0    2.215280
1    1.571250
2    3.259028
3    1.838427
4    1.056484
dtype: float64

In [24]:
df = pd.read_csv('sleep75.csv')
df.head()

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.0,0.0,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.0,0.0,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.0,0.0,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.0,0.0,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.0,0.0,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096

In [26]:
new_model = df[df['smsa'] == 1]
new_model.shape

(282, 34)

In [28]:
sleep_eq = smf.ols(formula='sleep~totwrk+age+male+south', data=new_model).fit()
sleep_eq.params.round(2)

Intercept    3460.43
totwrk         -0.18
age             2.28
male           92.65
south         168.85
dtype: float64

In [31]:
# Для наблюдений с номерами 1, 9, 56, 76, 100 найдите фактическое значение зависимой переменной, предсказанное значение и остатки.
ind = np.array([1, 9, 56, 76, 100])-1
# Фактические
new_model['sleep'].iloc[ind]

2      2670
19     3090
149    2985
194    3660
259    2618
Name: sleep, dtype: int64

In [33]:
# Остатки
sleep_eq.resid.iloc[ind]

2     -462.491381
19    -280.083016
149    149.639873
194    411.460481
259   -245.069846
dtype: float64

In [34]:
# Предсказанные
sleep_eq.fittedvalues.iloc[ind]

2      3132.491381
19     3370.083016
149    2835.360127
194    3248.539519
259    2863.069846
dtype: float64

# 3.6 Labour equation (in log)
Для датасета Labour рассмотрим регрессию log(output) на log(capital), log(labour), log(wage)

Найтиде коэффициенты подогнанной модели. Ответ округлите до 2-х десятичных знаков.

Для наблюдений с номерами 2, 11, 24, 101, 349, 501 найдите фактическое значение зависимой переменной, предсказанное значение и остатки.

In [35]:
df = pd.read_csv('Labour.csv')
df.head()

     capital  labour     output       wage
0   2.606563     184   9.250759  43.080307
1   1.323237      91   3.664310  27.780016
2  22.093692     426  28.781516  44.467748
3  10.737851      72   4.124642  39.734710
4   1.161365      46   2.890150  34.650709

In [36]:
sleep_eq = smf.ols(formula='np.log(output)~np.log(capital)+np.log(labour)+np.log(wage)', data=df).fit()
sleep_eq.params.round(2)

Intercept         -5.01
np.log(capital)    0.15
np.log(labour)     0.72
np.log(wage)       0.92
dtype: float64

In [41]:
ind = np.array([2, 11, 24, 101, 349, 501])-1

In [46]:
# Остатки
sleep_eq.resid.iloc[ind].round(3)

1     -0.049
10    -0.250
23     0.637
100   -0.226
348    0.283
500   -0.433
dtype: float64

In [54]:
# Фактические
df['output'].iloc[ind]

1      3.664310
10     3.245624
23     2.666305
100    2.180688
348    4.307089
500    3.659600
Name: output, dtype: float64

In [ ]:
new_model = df_sleep[df_sleep['male'] == 0]
new_model.shape