In [8]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [9]:
df = pd.read_csv('sleep75.csv')
df.head()

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.0,0.0,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.0,0.0,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.0,0.0,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.0,0.0,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.0,0.0,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096

# 3.1 Sleep equation
Для датасета sleep75 рассмотрим регрессию sleep на totwrk, age, male, smsa

1) Найтиде коэффициенты подогнанной модели. Ответ округлите до 2-х десятичных знаков.
2) Для наблюдений с номерами 1, 4, 6, 10, 508, 700 найдите фактическое значение зависимой переменной, предсказанное значение и остатки.
3) Вычислите TSS, ESS, RSS
4) Вычислите R2 и adj.R2
5) Вычислите стандартрую ошибку регрессии

In [10]:
# Найтиде коэффициенты подогнанной модели. Ответ округлите до 2-х десятичных знаков.
# Подгонка модели
shit = smf.ols(formula='sleep~totwrk+age+male+smsa', data=df_sleep).fit()

NameError: name 'df_sleep' is not defined

In [ ]:
shit.params.round(3)

In [ ]:
# 2 пункт
# Для наблюдений с номерами 1, 4, 6, 10, 508, 700 найдите фактическое значение зависимой переменной, предсказанное значение и остатки. 
ind = np.array([1, 4, 6, 10, 508, 700])-1

In [ ]:
# Предсказанные
shit.fittedvalues[ind]

In [ ]:
# Остатки
shit.resid[ind]

In [ ]:
# Фактические
df['sleep'].iloc[ind]

In [11]:
#3 пункт Вычислите TSS, ESS, RSS

In [12]:
# TSS
sleep_eq.centered_tss

NameError: name 'sleep_eq' is not defined

In [13]:
# ESS
sleep_eq.ess

NameError: name 'sleep_eq' is not defined

In [14]:
# RSS
sleep_eq.ssr

NameError: name 'sleep_eq' is not defined

In [15]:
#5) Вычислите стандартрую ошибку регрессии
sleep_eq.mse_resid**0.5

NameError: name 'sleep_eq' is not defined

In [16]:
#Вычислите R2 и adj.R2

In [17]:
# R^2
sleep_eq.rsquared

NameError: name 'sleep_eq' is not defined

In [18]:
# adj R^2
sleep_eq.rsquared_adj

NameError: name 'sleep_eq' is not defined

# 3.4 Sleep equation (women only)
Для датасета sleep75 рассмотрим регрессию sleep на totwrk, age, smsa, south только для женщин (male=0)

Найтиде коэффициенты подогнанной модели. Ответ округлите до 2-х десятичных знаков.

In [19]:
df_sleep = pd.read_csv('sleep75.csv')
df_sleep.head()

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.0,0.0,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.0,0.0,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.0,0.0,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.0,0.0,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.0,0.0,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096

In [20]:
df_sleep.shape

(706, 34)

In [21]:
new_df_name = df_sleep[df_sleep['male'] == 0]
new_df_name.shape

(306, 34)

In [22]:
model2 = smf.ols(formula='sleep~totwrk+age+smsa+south', data=new_df_name).fit()
model2.params.round(3)

Intercept    3468.203
totwrk         -0.151
age             1.645
smsa          -37.687
south         136.029
dtype: float64

In [23]:
# Для наблюдений с номерами 1, 9, 45, 187, 280 найдите фактическое значение зависимой переменной, предсказанное значение и остатки.
ind = np.array([1, 9, 45, 187, 280])-1

In [24]:
# Фактические
new_df_name['sleep'].iloc[ind]

3      3083
67     2858
198    3730
472    3376
628    3405
Name: sleep, dtype: int64

# 3.3 Sleep equation (men only)
Для датасета sleep75 рассмотрим регрессию sleep на totwrk, age, smsa, south только для мужчин (male=1)

1) Найтиде коэффициенты подогнанной модели. Ответ округлите до 2-х десятичных знаков.
2) Для наблюдений с номерами 1, 9, 45, 187, 280 найдите фактическое значение зависимой переменной, предсказанное значение и остатки.
3) Вычислите TSS, ESS, RSS
4) Вычислите R2 и adj.R2
5) Вычислите стандартрую ошибку регрессии

In [25]:
# 1 пункт

In [26]:
df_sleep = pd.read_csv('sleep75.csv')
df.head()

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.0,0.0,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.0,0.0,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.0,0.0,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.0,0.0,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.0,0.0,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096

In [27]:
new_model = df_sleep[df_sleep['male'] == 0]
new_model.shape

(306, 34)

In [38]:
sleep_eq = smf.ols(formula='sleep~totwrk+age+smsa+south', data=new_model).fit()
sleep_eq.params.round(2)

Intercept    3468.20
totwrk         -0.15
age             1.65
smsa          -37.69
south         136.03
dtype: float64

In [40]:
# Для наблюдений с номерами 1, 9, 45, 187, 280 найдите фактическое значение зависимой переменной, предсказанное значение и остатки.
ind = np.array([1, 9, 45, 187, 280])-1
# Фактические
new_model['sleep'].iloc[ind]

3      3083
67     2858
198    3730
472    3376
628    3405
Name: sleep, dtype: int64

In [30]:
# Предсказанное
sleep_eq.fittedvalues.iloc[ind]

3      2945.903009
67     2920.661595
198    3328.629277
472    3503.721925
628    3215.073387
dtype: float64

In [31]:
# Остатки
sleep_eq.resid.iloc[ind]

3      137.096991
67     -62.661595
198    401.370723
472   -127.721925
628    189.926613
dtype: float64

In [32]:
# TSS
sleep_eq.centered_tss

63490152.11764705

In [33]:
# ESS
sleep_eq.ess

6300990.568985932

In [34]:
# RSS
sleep_eq.ssr

57189161.54866112

In [35]:
# R^2
sleep_eq.rsquared

0.09924358910512954

In [36]:
# adj R^2
sleep_eq.rsquared_adj

0.0872734042427391

In [37]:
# стандартная ошибка
sleep_eq.mse_resid**0.5

435.8866990943623